<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>704F3B6D1BE0D0180033245C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>704F3B761BE0D0180033245C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CA7F671BDE2DC3000A3B21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F315311BDE503B00D691B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8320F87A1C1918C60024B45E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83D8CE731C17DAF50094279D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C255D251AE9F815008A6FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C8419851A5A791300C5C6C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C8419901A5A791300C5C6C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C8419C21A5A796000C5C6C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C8419CC1A5A796000C5C6C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
